@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Security.Claims
@using SonOfCod.ViewModels

@model SubscriberViewModel

<h1>News Letter</h1>
<hr />
<h3>Welcome to our news letter</h3>
<p>Our news letter provides you with great information regarding new events that will happen soon, fun facts about seafood, and recipe ideas.</p>
<p>Sign up to join the mailing list</p>

@using (Html.BeginForm("NewsLetter", "Home", FormMethod.Post))
{
    @Html.LabelFor(m => m.Email)
    @Html.TextBoxFor(m => m.Email)

    @Html.LabelFor(m => m.Name)
    @Html.PasswordFor(m => m.Name)

    <input type="submit" value="Subscribe" />
}





@*@if (User.Identity.IsAuthenticated)
{
    
}
else
{
    <p>@Html.ActionLink("Register", "Register", "Account")</p>
    <p>@Html.ActionLink("Log in", "Login", "Account")</p>
}*@