@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Security.Claims

@model SonOfCod.Models.Subscriber

<h1>News Letter</h1>
<hr />
<h3>Welcome to our news letter</h3>
<p>Our news letter provides you with great information regarding new events that will happen soon, fun facts about seafood, and recipe ideas.</p>
<p>Sign up to join the mailing list</p>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Email)
    @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })

    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })

    @Html.LabelFor(model => model.Address)
    @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })



    <br />
    <input type="submit" class="btn btn-success" value="Subscribe" />
}

@if (User.Identity.IsAuthenticated)
{
    <h4>@Html.ActionLink("View a list of all subscribers", "List")</h4>
}
