<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="navbar">
        <div class="col-sm-3"><h3>@Html.ActionLink("Son of Cod", "Index", "Home")</h3></div>
        <div class="col-sm-9 pull-right">
            <div class="col-sm-3">
                <h4>@Html.ActionLink("Marketing", "Index", "Marketing") | @Html.ActionLink("Newletter", "NewsLetter", "Home") </h4>
            </div>
            <div class="col-sm-6">
                @if (User.Identity.IsAuthenticated)
                {
                    <h4>@Html.ActionLink("Register new admin", "Register", "Account")</h4>
                    @using (Html.BeginForm("LogOff", "Account"))
                    {
                        <input type="submit" class="btn btn-danger" value="Log out" />
                    }
                }
                else
                {
                    <h4>@Html.ActionLink("Register/Log in", "Index", "Account")</h4>
                }
            </div>
        </div>
    </div>
    <div class="header">
        <div class="text">
            <h4>SUSTAINABILITY</h4>
            <h3>Protecting & Preserving Our Resources</h3>
            <hr />
            <p>Our sustainability commitment has always been a priority and one that will be continuously improved because the future of our fisheries is the future of our business.</p>
        </div>
        
    </div>
    <div class="content-body container">
        @RenderBody()
    </div>
</body>
</html>
